#footer {
  position:absolute;
  bottom:0px; 
  width:100%;
  text-align:center;
}

#menu {
  width:100%;
}

#content {
  min-height:100%;
  position:relative;
}

input[type=button] {
  padding:2px;
  font-size: 1.4em;
}

input[type=text] {
  padding:2px;
  font-size: 1.4em;
}
