#footer {
  position:relative;
  bottom: 20px;
  height: 20px;
  width:100%;
  text-align:center;
}

#menu {
  position:relative;
  height: 20px;
  width:100%;
}

#content {
  min-height: calc(100% - 40px);
  position:relative;
}

input[type=button] {
  padding:2px;
  font-size: 1.4em;
}

input[type=text] {
  padding:2px;
  font-size: 1.4em;
}
